<nav class="navbar bg-body-tertiary">
  <div
    class="container-fluid justify-content-center justify-content-md-between"
  >
    <a class="navbar-brand fw-medium fs-3 mb-1 mb-md-0">
      <%= crumbs[0] === '/' ? crumbs.slice(1) : crumbs %>  
    </a>

    <% if (component === "allMenu" || component ==="allReservations") { %>
      <form class="d-flex" role="search" action="/<%=searchPlace%>?search="  method="GET">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search here"
          aria-label="Search"
          name="search"
        />
        <button class="btn btn-outline-success" type="submit">
          Search
        </button>
      </form>   
    <% } %>
  </div>
</nav>