
$second-color: #181717;
$main-color: #DD0301;

$bran-font:'Pacifico', cursive;
$main-font :'Niramit', sans-serif;
$second-font:'Merriweather Sans', sans-serif;
$num-font:'Playfair Display', serif;

$pad-top : 26px;
$mar-top : 100px;